body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #262626;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  font-style: italic;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.main {
  margin-top: 20px;
}

.dhome {
  background-image: url(IMAGE/AR.jpg);
  background-size: auto;
  background-position: center;
}
.thome {
  background-image: url(IMAGE/gr.jpg);
  background-size: auto;
  background-position: center;
}
.downhome {
  background-image: url(IMAGE/greenpas.jpg);
  background-size: auto;
  background-position: center;
}
.Exp {
  background-image: url(IMAGE/headphones-yellow-background-music-black-wallpaper.jpg);
  background-size: cover;
  background-position: center;
}

.Contact {
  background-image: url(IMAGE/contact-us-background.webp);
  background-size: cover;
  background-position: center;
  height: 600px;
}

.gall {
  background-image: url(IMAGE/rubiks-cube-digital-art-wallpaper.jpg);
  background-size: auto;
  background-position: center;
}
